#intestazione {
    background-image:url("../img/pattern.png");
    background-color: rgb(84, 153, 231);
    background-size: contain;
    background-repeat: repeat;
    height: 90px;
}

header img {
    height: 50px;
    margin-top: 30px;
}

h1 {
    font-size: 60px;
    display: inline;
}

.didascalia-iniziale {
    color: rgb(158, 157, 157);
}

.autore {
    color:rgb(84, 153, 231);
}

.data {
    font-size: 13px;
}

.didascalia-foto {
    font-size: 11px;
}

.sottotitolato {
    background-color: #ffff00;
}

ul {
    list-style-position: inside;
    padding-left: 0;
}

.lorem-ipsum {
    width: 100%;
    border-collapse: collapse;
}

thead {
    text-align: left;
    background-color: rgb(78, 174, 238);
    color: white;
}

th {
    padding-right: 100px;
    width: 25%;
}

td {
    padding-right: 100px;
}

.riga-colorata {
    background-color: rgb(181, 233, 253);
}

footer span {
    color:rgb(158, 157, 157);
    font-weight: bold;
}

.immagine-testo {
    background-image: url(../img/monitor.jpg);
    height: 250px;
    width: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    color:rgb(185, 183, 183);
    font-weight: bold;
}

.immagine-testo2 {
    background-image: url(../img/graph.jpg);
    height: 250px;
    width: 250px;
    background-size: contain;
    background-repeat: no-repeat;
    color:rgb(185, 183, 183);
    font-weight: bold;
}